/app/cache/*
/app/logs/*
composer.phar
app/config/parameters.yml
app/bootstrap.php.cache
web/app_dev.php
web/bundles/*
vendor/*
*~
composer.lock
*eclipse*
*.config
app/config/parameters.yml.back
.buildpath
.project
.settings
.DS_Store
._.*
