{% extends 'BiapyCyrusBundle::layout.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
<p>
	User Management Board
</p>

<form action={{ path('user_edit_page') }} method="post">

	{{ form_widget(form) }}

	<input type="submit" />
</form>
{% endblock %}