<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{%  block title %} {%  endblock %}</title>
		
		<!-- Using Sonata AdminBundle stylesheet -->
		{% block stylesheets %}
		{% endblock %}

        {% block javascripts %}
	    {% endblock %}
	</head>

	<body>
		{%  block body %}
		{%  endblock %}
	</body>
</html>